<!DOCTYPE html>
<!--
                                    _    __
  ___ ___  ___ ________ ____  ___  (_)__/ /
 (_-</ _ \/ _ `/ __/ _ `/ _ \/ _ \/ / _  /
/___/ .__/\_,_/_/  \_,_/_//_/\___/_/\_,_/
   /_/

-->
<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1.0">

<link rel=alternate href=/feed/ type=application/atom+xml>
<link rel=stylesheet href={{ site.css-path }}/a.css>
<link rel=dns-prefetch href={{ site.file }}>

<title>{% if page.title != 'Sparanoid' %}{{ site.name }} - {% endif %}{{ page.title }}</title>

{% if page.title == 'Sparanoid' %}
<header>
	<h2>Welcome to <a href=/>Sparanoid</a></h2>
	<h1 lang=ja><a href=/ rel=home accesskey=x>スパラノイドにようこそ</a></h1>
</header>
{% endif %}

<nav>
	{% if page.title == 'Sparanoid' %}
		<h2>Get Started Here</h2>
	{% else %}
		<h2>&lt; <a href="/" rel=home accesskey=x>Back to Home</a></h2>
	{% endif %}
	<ul class=gap>
		<li{% if page.permalink == '/work/' or page.category == 'work' %} class=current{% endif %}><a href=/work/>Work ／ ワークス ／ 作品</a></li>
		<li{% if page.permalink == '/note/' or page.category == 'note' %} class=current{% endif %}><a href=/note/>Note ／ ノート ／ 筆記</a></li>
		<li{% if page.permalink == '/about/' or page.category == 'about' %} class=current{% endif %}><a href=/about/>About ／ について ／ 關於</a></li>
		<li><a href=/start/>Start Page ／ スタートページ ／ 起始頁</a></li>
	</ul>
</nav>

{{ content }}

{% if page.category == "work" or page.category == "note" %} 
<nav>
{% if page.next.url %}
	<p><a href={{ page.next.url }}/>{{ page.next.title }}</a> |
{% else %}
	<p>Previous |
{% endif %}
{% if page.previous.url %}
	<a href={{ page.previous.url }}/>{{ page.previous.title }}</a> &gt;</p>
{% else %}
	Next</p>
{% endif %}
</nav>
{% endif %}

{% if page.title != 'Sparanoid' %}
<aside>
<h2>Our Sponsor</h2>
{% include sponsor.html %}
</aside>
{% endif %}

<footer>
	<p class=c><a href=http://twitter.com/{{ site.twitter }}>{{ site.name }}</a> feat. <a href=http://sparanoid.com/work/nite/>NITE</a>. (<a href=/feed/ title="Feed - Atom (The Atom Syndication Format)">Atom</a>)</p>
</footer>